<div class="container">
    <form (ngSubmit)="submit()" #forma="ngForm">
        <h3>Inicio de sesión - Formulario por template</h3>
        <hr />
        <label for="name"><b>Nombre</b></label>
        <input type="text" [(ngModel)]="register.name" placeholder="Introduzca su nombre de pila" name="name" minlength="5" class="form-control" required #name="ngModel" [ngClass]="{'is-valid': name.valid && (name.dirty || name.touched), 'is-invalid': name.invalid && (name.dirty || name.touched)}"
        />

        <div class="invalid-feedback" *ngIf="name.invalid && (name.dirty || name.touched)">
            <div *ngIf="name.errors?.['minlength']">
                Introduzca un nombre de pila con 5 caracteres mínimo
            </div>
            <div *ngIf="name.errors?.['required']">
                Introduzca un nombre de pila válido por favor
            </div>
        </div>

        <label for="email"><b>Correo electrónico</b></label>
        <input type="email" [(ngModel)]="register.email" placeholder="Introduzca el correo electrónico" name="email" class="form-control" required #email="ngModel" [ngClass]="{'is-valid': email.valid && (email.dirty || email.touched), 'is-invalid': email.invalid && (email.dirty || email.touched)}"
            pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+$" />

        <div class="invalid-feedback" *ngIf="email.invalid && (email.dirty || email.touched)">
            <div *ngIf="email.errors?.['required']">
                Introduzca un correo electrónico válido por favor
            </div>
            <div *ngIf="email.errors?.['pattern']">
                El correo electrónico no sigue el formato correcto. Sigue este ejemplo: anartz&#64;mugika.com
            </div>
        </div>

        <label for="password"><b>Contraseña</b></label>
        <input type="password" placeholder="Introduzca la contraseña" [(ngModel)]="register.password" name="password" class="form-control" required #password="ngModel" [ngClass]="{'is-valid': password.valid && (password.dirty || password.touched), 'is-invalid': password.invalid && (password.dirty || password.touched)}"
        />
        <div class="invalid-feedback" *ngIf="password.invalid && (password.dirty || password.touched)">
            <div *ngIf="password.errors?.['required']">
                Introduzca una contraseña por favor
            </div>
        </div>

        <label for="repeatPass"><b>Repetir Contraseña</b></label>
        <input type="password" placeholder="Repetir la contraseña" [(ngModel)]="register.repeatPass" name="repeatPass" class="form-control" required #repeatPass="ngModel" [ngClass]="{'is-valid': repeatPass.valid && (repeatPass.dirty || repeatPass.touched), 'is-invalid': repeatPass.invalid && (repeatPass.dirty || repeatPass.touched)}"
        />
        <div class="invalid-feedback" *ngIf="repeatPass.invalid && (repeatPass.dirty || repeatPass.touched)">
            <div *ngIf="repeatPass.errors?.['required']">
                Introduzca una contraseña por favor
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg">
                <button type="submit" [disabled]="!forma.valid" class="signup-btn">Iniciar sesión</button>
            </div>
        </div>
    </form>
</div>